.solutionBU{ margin-top: 0px!important}

.certificacionesLogos img {
	max-width: 300px
}

.tecnologiasLogos img {
	max-width: 115px
}

.entry img {
	width: 100%
}
.show-only-mobile{
	display: none;
}
.metoLogos img {
	max-width: 180px
}

.nav-item a, .secondMenu .nav-item a.thisA {
	color: #808285
}


.nav-item a:hover {
	color: #fff;
	border-bottom: 1px solid #00dfc3;
	-webkit-text-decoration-line: none;
	text-decoration-line: none
}

.linkLine {
	text-decoration: none;
	font-size: 14px;
	color: #000;
	font-weight: 600
}

.seccionLogos {
	padding-top: 80px;
	padding-bottom: 80px;
	overflow-x: hidden
}

.seccionLogos img {
	display: block;
	margin: 25px auto
}
.metoLogos p{
	font-family: : "Roboto Slab";
	font-size: 16px;
	color: #333;
	font-weight: 600;
	text-align: center;
}
.tittleSeccion.black:after {
	background: white
}

.dark .fillTriangle {
	fill: #111;
	stroke: #111
}

.triangleCornerTop {
	position: absolute;
	width: 100px;
	height: 110px;
	left: 0;
	top: 0
}

.fillTriangle {
	fill: white;
	stroke: white
}
.card a.seeMore{
	font-weight: 600;
	font-size: 14px;
	display: block;
    width: 38px;
}
.card:Hover a.seeMore{
	border-bottom: 2px solid #00DFC3;
}
.solutions .card .titleCont{
	width: 100%;
}
.triangleCornerBottom {
	width: 100px;
	height: 180px;
	position: absolute;
	bottom: 0;
	right: 0
}

.triangleCornerLogoA {
	overflow: hidden;
	width: 100px;
	height: 180px;
	position: relative;
	float: left
}

.fillTriangleLogoA {
	fill: #000;
	stroke: #000
}

.triangleCornerLogo {
	overflow: hidden;
	width: 100px;
	height: 180px;
	position: relative;
	float: right
}

.fillTriangleLogo {
	fill: #000;
	stroke: #000
}

.cuatro {
	display: block;
	width: 100%;
	margin: 0 auto
}

.tres {
	display: block;
	width: 75%;
	margin: 0 auto
}

.dos {
	display: block;
	width: 50%;
	margin: 0 auto
}

.uno {
	display: block;
	width: 25%;
	margin: 0 auto
}

.moreSol {
	margin-top: 100px;
	margin-bottom: 0!important
}

.morePagSol {
	margin-top: 100px;
	padding-bottom: 100px;
	padding-top: 100px;
	position: relative;
	background-color: #f6f6f6
}

.morePagSol span {
	font-style: italic;
	font-weight: 800;
	color: black
}

.moreSol .eachSol {
	background-color: #fff;
	border: 10px solid #ccf9f3;
	border-radius: 0;
	padding: 16px;
	width: 90%;
	margin: 0 auto;
	height: 260px
}

.iconoSolucionM {
	width: 100%;
	height: 100px;
	max-width: 100px;
	margin: 0 auto 30px
}

.contacta {
	position: relative;
	background-size: cover;
	background-position: right!important
}

.contacta .container {
	padding: 150px 0
}

.contacta h3 {
	color: white;
	font-size: 2.4em;
	line-height: 1.25;
	margin-bottom: 20px;
	text-align: right;
	font-style: normal;
	font-weight: 600;
	font-family: Open Sans, sans-serif
}

.contacta p {
	font-family: Roboto Slab;
	font-size: 1.37em;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.36;
	letter-spacing: normal;
	text-align: left;
	color: #ccf9f3
}

.contacta a {
	width: 220px;
	height: 56px;
	background-color: #00dfc3;
	box-shadow: 4px 6px 15px 0 rgba(0, 0, 0, .25);
	font-family: Work Sans, sans-serif;
	font-size: .95em;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 56px;
	letter-spacing: .5px;
	text-align: center;
	color: #000;
	display: block;
	margin: 30px 0 0;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto
}

.jumbotron {
	background-color: #fff;
	margin-bottom: 0
}

.internaB p {
	padding-left: 0;
	width: 100%;
	font-size: 16px!important;
	font-family: Roboto Slab
}

.jumbotron .unity {
	height: 320px
}

.jumbotron .svgImage {
	width: 80%
}

.entry {
	position: absolute;
	height: 600px;
	background-position: center!important;
	background-size: cover!important;
	top: 20px;
	width: 80%;
}

.entryItem {
	position: absolute;
	top: 5%;
	width: 100%;
	height: 100%
}

.textoEntry {
	position: absolute;
	width: 90%;
	padding: 15px 33px 35px 55px;
	-webkit-transform: skewX(-.06turn)translateY(-50%);
	transform: skewX(-.06turn)translateY(-50%);
	top: 50%;
	height: 290px
}

.parrafo {
	-webkit-transform: skewX(.06turn);
	transform: skewX(.06turn);
	color: #fff;
	font-family: Roboto Slab, serif
}

.parrafo svg {
	width: 70%!important
}

.casoExito {
	position: relative;
	background-color: #000;
	padding-bottom: 180px
}

.casoExito h2 {
	color: #fff;
	margin-top: 100px
}

.casoExito h3 {
	color: #00dfc3;
	margin-top: 53px
}

.casoExito p {
	color: #fff;
	font-size: 14px;
	width: 80%
}

.casoExito .videoSuccess {
	width: 100%;
	height: auto;
	margin-top: 53px;
	text-align: center;
	position: relative;
	z-index: 1
}

.casoExito .videoSuccess img {
	width: 100%;
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, .3)
}

.casoExito .videoSuccess img {
	width: 100%
}

.customerLogo {
	width: 400px;
	height: 160px;
	background-color: #fff;
	text-align: center;
	margin-top: -60px;
	position: relative;
	margin-left: -110px
}

.customerLogo img {
	width: auto;
	position: absolute;
	bottom: 20px;
	right: 140px;
	max-height: 80px;
}

.casoExito .tittleSeccion {
	margin-bottom: 0
}

.solutions {
	margin-top: 100px;
	margin-bottom: 100px
}

.solutions h3 {
	height: 110px
}

.solutions .cardTitle {
	display: block;
	position: absolute;
	float: left;
	margin-top: 50%
}

.solutions .card {
	background-color: #fff;
	border-radius: 0;
	padding: 16px;
	margin-bottom: 30px;
	cursor:pointer;
	    border: 10px solid #fff;
}

.solutions h3>p {
	font-size: 24px
}

.solutions .card .linkLine {
	display: inline-block;
	margin-top: 20px!important
}

.solutions .card .linkLine:hover {
	border-bottom: solid 2px #00dfc3;
	text-decoration: none;
	color: #000
}

.solutions .card p {
	margin-top: 10px
}

.solutions .card:hover {
	border: 10px solid #00dfc3;
	box-shadow: 10px 12px 16px 0 rgba(0, 0, 0, .15);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out
}

.txtSolUn {
	height: 80px;
	color:#333333;
}
.txtSolUn p{
	font-weight: 600;
}

.iconSolU {
	width: 100%;
	height: 150px;
	margin-bottom: 30px
}

.iconSolU svg {
	height: 100px;
	margin: 0 auto;
	width: 50%;
	margin-top: 20px
}

.container.clientesLogos img {
	display: block;
	margin: 25px auto
}

.middleItem:before {
	content: ' ';
	display: block;
	position: absolute;
	width: 1px;
	height: 40%;
	top: 30%;
	left: 0;
	border-right: 1px solid #ccc;
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg)
}

.middleItem:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 1px;
	height: 40%;
	top: 30%;
	right: 0;
	border-right: 1px solid #ccc;
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg)
}

h1 {
	font-size: 40px;
	font-family: Open Sans, sans-serif;
	font-style: italic;
	text-transform: uppercase;
	font-weight: 800
}

h2 {
	font-size: 48px;
	font-family: Open Sans, sans-serif;
	font-style: italic;
	font-weight: 800;
	text-transform: uppercase;
}
h2.line:after{
	content: "";
height: 2px;
width: 1000px;
background-color: #000;
position: absolute;
right: 0px;
bottom: 0px;
}
h3 {
	font-size: 24px;
	font-family: Open Sans, sans-serif;
	font-style: italic;
	font-weight: 800
}
h4{
		font-family: Roboto Slab;
		font-weight: 400;
		font-size: 22px;
}
h6 {
	font-size: 22px;
	font-weight: 800;
	font-family: Roboto Slab;
	color: #000;
	text-align: center;
	padding-top: 60px
}

.tittleSeccion h2 {
	float: left;
	text-transform: uppercase
}

.LadoA:after {
	right: 0
}

.tittleSeccion {
	position: relative;
	margin-bottom: 70px
}

p {
	font-size: 14px
}

.tecnologias h2 {
	text-align: right;
	margin-top: 59px;
	font-size: 48px;
}

.clientes,
.tecnologias {
	position: relative;
	background-color: #f6f6f6
}

.clientes h2 {
	color: #000
}

.clientes .clientesLogos {
	padding-top: 80px;
	padding-bottom: 80px
}

.bannerInterna {
	height: 540px;
	background-size: cover!important;
	margin-left: auto;
	margin-right: auto
}

.bannerInterna img {
	width: 100%;
	position: relative
}

.bannerInterna p {
	padding-left: 100px;
	width: 600px;
	font-size: 24px;
	font-family: Roboto Slab
}

.bannerIntSolution .container {
	top: 0
}

.bannerIntSolution .iconoSolucion svg {
	width: 100%
}

.bannerIntSolution .bannerSolucion {
	margin-top: -22%
}

.bannerIntSolution .bannerSolucion h1>p {
	font-size: 60px;
	font-family: Open Sans, sans-serif!important;
	font-style: italic!important;
	font-weight: 800!important;
	text-transform: uppercase;
	margin-top: 100px
}

.bannerIntSolution .bannerSolucion h1 {
	margin-top: 33%
}

.bannerIntSolution .h1 {
	font-size: 36px
}

.fact {
	z-index: 999;
	position: relative;
  margin: 0 auto 65px!important;
}

.fact .introfact {
	background-color: #7fefe1;
	padding: 20px 60px 60px;
	margin-top: 0
}

.fact .introfact h2 {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 50px
}

.fact .introfact .icono {
    position: relative;
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
}
.fact .introfact .icono img {
    width: 100%;
}
.fact .introfact p {
    margin-top: 1px;
    font-weight: 700;
}

.titlecenter {
	margin-top: -75px
}

.titlecenter h2 {
	    display: table;
	text-align: center;
	color: #000;
  margin: 30px auto 0;
}

.titlecorte {
	text-decoration: none;
	color: white;
	font-weight: 700;
	display: block;
	border-left: 80px solid transparent;
	border-bottom: 150px solid #7fefe1;
	height: 54px
}

.titlecorte p {
	color: black;
	font-stretch: normal;
	font-family: Open Sans, sans-serif;
	font-weight: 400;
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px
}

.historia h2 {
	margin-bottom: 60px
}

.historia strong {
	font-family: Open Sans;
	font-size: 24px;
	font-style: italic;
	font-weight: 800
}

.historia li {
	font-size: 12px
}

.historia .anioa {
	text-align: right;
	color: black;
	display: block
}

.historia .textoa {
	background-color: #f6f6f6;
	padding: 3px;
	padding-left: 20px
}

.historia .linetime:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 2px;
	height: 90%;
	top: 5%;
	left: 50%;
	border-right: 1px dotted red;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}

.historia .puntotime:after {
	content: ' ';
	display: block;
	width: 7px;
	height: 7px;
	margin-top: -3px;
	border-radius: 50%;
	background-color: red;
	position: absolute
}

.insights {
	/*margin-top: 100px;*/
	padding-top: 100px;
	background-color: #333;
	padding-bottom: 70px;
	position: relative
}

.insights h2 {
	color: #fff;
	text-align: right;
	float: right;
	margin-bottom: 10%
}

.insights .increment p {
	color: #00dfc3;
	font-size: 38px;
	font-weight: 400
}

.insights p {
	color: #fff
}

.insights .eachIns {
	border: solid 1px #00dfc3;
	height: 180px;
	text-align: center;
	position: relative;
	margin-bottom: 30px
}

.insights .algo {
	position: absolute;
	width: 80%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.insights .txtInsTitle {
	text-align: right;
	display: inline-block
}

.insights .triangleCornerTop {
	position: absolute
}

.insights .tittleSeccion {
	position: relative;
	margin-bottom: 0;
	float: right;
	display: inline-block
}

.principios {
	padding: 5% 0;
}

.principios h3 {
	text-align: center;
	padding-bottom: 30px
}

.principios .col-12:nth-child(2) .lineprincipios {
	display: none
}

.lineprincipios {
	content: ' ';
	display: block;
	position: absolute;
	width: 2px;
	height: 50%;
	top: 50%;
	left: -5px;
	border-right: 1px solid #808285;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	overflow: hidden
}

.practicaNosotros {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f6f6f6;
	position: relative
}

.practicaNosotros .tittleSeccion {
	position: relative;
	margin-bottom: 70px;
	margin-top: 30%
}

.eachPractica {
	margin-top: 15px;
	margin-bottom: 15px
}

.corporativo .introfact {
	background-color: #7fefe1;
	padding: 20px 60px 60px;
	margin-top: 0
}

.corporativo .introfact .icono {
	position: relative;
	text-align: center
}

.corporativo .introfact strong {
	font-size: 16px
}

.corporativo .introfact ul {
	text-decoration: none;
	list-style: none
}

.corporativo .introfact li {
	font-size: 14px
}

.corporativo .introfact .iconos {
	float: left;
	color: #fff;
	font-size: 32px;
	margin-top: -18px
}

.corporativo .introfact a {
	color: #000;
	text-decoration: underline
}

.corporativo .introfact .info {
	padding-left: 50px
}

.corporativo .introfact .eachItemCoorp {
	margin-bottom: 30px
}

.especialista h2 {
}

.especialista hr {
	margin-top: -4px;
	margin-bottom: 26px;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1)
}

.especialista .eachUnidad {
	margin-bottom: 78px
}

.especialista .eachUnidad img {
	width: 100%
}

.especialista #an_analytics .iconos {
	float: left;
	color: #dc4913;
	font-size: 24px;
	height: 24px
}

.especialista #an_analytics .info {
	padding-left: 40px
}

.especialista #an_cloud .iconos {
	float: left;
	color: #2d994b;
	font-size: 24px;
	height: 24px
}

.especialista #an_cloud .info {
	padding-left: 40px
}

.especialista #an_commerce .iconos {
	float: left;
	color: #3f15eb;
	font-size: 24px;
	height: 24px
}

.especialista #an_commerce .info {
	padding-left: 40px
}

.especialista #an_experience .iconos {
	float: left;
	color: #7a00db;
	font-size: 24px;
	height: 24px
}

.especialista #an_experience .info {
	padding-left: 40px
}

.especialista #an_integration .iconos {
	float: left;
	color: #2a49f9;
	font-size: 24px;
	height: 24px
}

.especialista #an_integration .info {
	padding-left: 40px
}

.especialista ul {
	text-decoration: none;
	list-style: none
}

.especialista li {
	margin-top: 15px;
	font-size: 14px
}

.especialista hr {
	color: #808285
}

.especialista:last-child .eachUnidad {
	margin-bottom: 0
}

.presencia {
	background-color: #f6f6f6;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 100px;
	position: relative
}

.presencia h2 {
	margin-bottom: 40px
}

.presencia .triangleCornerTop {
	position: absolute
}

.presencia .informacionOf {
	width: 90%;
max-width: 275px;
margin: 40px auto 0;
}

.presencia ul {
	text-decoration: none;
	list-style: none
}

.presencia li {
	margin-top: 15px;
	font-size: 14px
}

.presencia .iconos {
	float: left;
	color: #00dfc3;
	font-size: 24px;
	height: 24px;
	margin-top: 0
}

.presencia .info {
	padding-left: 50px;
	padding-top: 5px
}

.beneficios {
	z-index: 999;
	position: relative
}

.beneficios .introfact {
	background-color: #7fefe1;
	padding: 20px 60px 60px;
	width: 100%
}

.beneficios .eachBen {
	margin-top: 50px
}

.beneficios .eachBen p {
	font-family: Roboto Slab;
	font-size: 22px;
	text-align: center
}

.beneficios .eachBen .icon {
	text-align: center;
	color: #fff;
	font-size: 80px
}

.productos {
	padding-top: 100px
}

.productos h2 {
	margin-bottom: 60px
}

.productos ul {
	padding-left: 20px;
margin-left: 10px;
}

.productos li {
	font-size: 24px;
	font-style: italic;
	font-weight: 800;
	list-style-type: disc
}

.productos ul li {
	color: #00dfc3;
	font-size: 24px;
	line-height: .9;
	padding-bottom: 30px
}

.productos ul li span {
	color: #000
}
.productos ul li span {
    color: #000;
    font-family: "Roboto Slab";
    font-variant: normal;
}
.card .txtSolUn{

}
@media(max-width:768px) {
.show-only-mobile{
	display: block;
}
}

@media(min-width:769px) {
	.card .titleCont{
		position: relative;
		min-height: 110px;
	}
	.card .titleCont h3{
		position: absolute;
		bottom: 0;
		height: auto;
	}
	.card .iconSolU{
		margin-bottom: 0;
	}

}
@media(max-width:768px) {
	.textoEntry{
	}
	#pop #modalBox .servicios ul{
		list-style: outside;
padding-left: 25px;
	}
		#pop #modalBox .servicios ul li{
padding-left: 18px !important;
		}
		#pop #modalBox h3{
			text-indent: 50px;
		}
	.iconSolU svg{
		width: 100%;
		height: 130px;
	}
	.titlecorte {
	}
	.triangleCornerTop {
		width: 50px;
		height: 55px
	}
	.triangleCornerBottom {
		width: 50px;
		height: 80px
	}
	.triangleCornerLogoA {
		width: 50px;
		height: 80px
	}
	.triangleCornerLogo {
		width: 50px;
		height: 80px
	}
	.contacta h3 {
		text-align: center
	}
	.contacta p {
		text-align: center;
		border-bottom: none
	}
	.textoEntry {
		height: auto
	}
	.solutions .cardTitle {
		position: static;
		margin-top: 0
	}
	.middleItem:before {
		content: none
	}
	.middleItem:after {
		content: none
	}
	.bannerIntSolution .bannerSolucion h1>p {
		font-size: 46px
	}
	.insights {
		padding-top: 80px
	}
	.insights p {
		padding-bottom: 30px
	}
	.especialista h2 {
		margin-top: 0;
	}
	.especialista {
    margin-top: 30px;
  }
  .especialista p {
		margin-bottom: 60px
	}
	.productos ul li {
		font-size: 16px
	}
  h2{ font-size: 24px;
  margin: 15px 0;}
}
@media(max-width:992px) {
	.secondMenu .submenu ul{
		padding-top: 25px;
		padding-left: 15px;
	}
	.productos {
		padding-top: 20px
	}
	.productos h2 {
    margin-bottom: 30px;
}
	.fact .introfact p {
		margin-top: 60px
	}
.solutions h3{
	font-size: 24px;
}
 .solutions {
	 margin-top: 0;
 }
 .metoLogos img, .certificacionesLogos img, .tecnologiasLogos img{
	 max-width: 110px;
	 margin: 25px auto;
 }
}
