@charset "UTF-8";
/* CSS Document */
.contItem {
    width: 90%;
    max-width: 160px;
    margin: 0 auto;
    display: block;
}
button.owl-prev {
    left: -15px;
}
button.owl-next {
    right: -15px;
}
.imagesPrin img {
    max-width: 100%;
}
.principios h2 {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 0 auto 20px;
    text-align: center;
}
.activoPais span {
    border-bottom: 3px solid #00dfc3;
    padding: 0;
}
.paisesListado ul li span {
    display: block;
    width: 40px;
    text-align: center;
		margin: 0 auto 2%;
    font-style: italic;
    font-weight: 700;
    cursor: pointer;
}
.paisesListado ul li:hover span {
  border-bottom: 3px solid #00dfc3;
  padding: 0;
}
.paisesListado {
    margin-bottom: 2%;
}
.paisesListado ul {
	list-style: none;
}
.cargador {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(204,249,243,.8);
}
.loader{    border: 10px solid #333333;
    border-top: 10px solid #01dfc3;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.submenu{
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, .3);
	border-bottom: 8px solid;
}
.submenu.second{
  top: 34px;
}
.submenu.second ul li{
  cursor: pointer;
padding: 0px 25px;
position: relative;
height: 30px;
margin-bottom: 15px;
line-height: 1;
}
.submenu.second .descMenu{
  height: 50px;
}
.submenu.second .conoceMenu a{
  letter-spacing: 1px;
  font-size: 1em;
}
.submenu.second .conoceMenu i{
  color: #50e3c2;
}
.submenu.second {
  border-color:  #50e3c2;
}
.submenu.second .conoceMenu a:hover{
  border-bottom: 2px solid #00dfc3;
}
.submenu.second ul li a:hover {
    border-bottom: 2px solid #00dfc3;
}
.submenu.second ul li a{
  font-size: .8em;
text-transform: uppercase;
font-weight: 700;
font-style: normal;
font-stretch: normal;
line-height: 1.1 !important;
letter-spacing: 0px !important;
text-align: left !important;
color: #333333;
font-family: Open Sans, sans-serif;
}
.imagesPrin{
    width: 99%;
    max-width: 350px;
    margin: 20px auto 0;
}
.contentPrincipios {
    width: 99%;
    max-width: 550px;
    margin: 0 auto 25px;
}
.experience .claimMenu .conoceMenu p a, #navbarText .experience .submenuHere a.seeMore{
	color: #7d00dc !important;
}
.evolution .claimMenu .conoceMenu p a, #navbarText .evolution .submenuHere a.seeMore{
color: #2A49F9 !important;
}
.commerce .claimMenu .conoceMenu p a, #navbarText .commerce .submenuHere a.seeMore{
color: #3A13D8 !important;
}
.analytics .claimMenu .conoceMenu p a, #navbarText .analytics .submenuHere a.seeMore{
color: #DC4913 !important;
}
.cloud .claimMenu .conoceMenu p a, #navbarText .cloud .submenuHere a.seeMore{
color: #269A47 !important;
}
.txtHome{
	text-align: center;
}

.txtHome h1{
	padding-top: 15%;
    padding-bottom: 2%;
    padding-left: 7%;
    padding-right: 7%;
}

.txtHome span{
	font-size: 22px;
	font-weight: 500;
	font-family: 'Roboto Slab', serif;
}

.casoExito {
    position: relative;
    background-color: #000;
    padding-bottom: 5%;
}

.powerOf-text{
	color: #ffffff;
}

.casoVerde {
    position: relative;
    background-color: #00DFC3;
	padding-top: 5%;
    padding-bottom: 5%;
}
.powerOf-text {
    color: #ffffff;
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.somos {
    padding-top: 3%;
}
.somos h2 {
    width: 300px;
    float: right;
    margin-bottom: 3%;
		position: relative;
}
.fillTriangleV {
    fill: black;
    stroke: black;
}

.listadoClientes {
    width: 100%;
}
.contenedorLogo {
    width: 100%;
    height: 150px;
    margin-bottom: 0px;
    position: relative;
}
.clientesCont {
    padding: 5% 0;
}
.contenedorLogo img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter:grayscale(100%);
}
.principiosHome h2{
	text-align: center;
	margin-bottom: 5%;
	position: relative;
	text-transform: uppercase;
}

.iconoPrin:first-of-type {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.iconoPrin, .label{
	text-align: center;
	padding-bottom: 3%;
}

.contentPrincipios{
	padding-left: 3%;
}

.containerR{
	display: inline-flex;
	padding-left: 7%;
}

.containerR:first-child {
    border-bottom: 1px solid #ffffff;
}

.containerR:nth-child(2) {
    margin-top: 4%;
}

#containerA {
    border-bottom: 1px solid #ffffff;
}

.iconoprin{
	margin-bottom: 40%;
	margin-left:30px;
}

.labelS{
	padding-top: 17% !important;
	margin-left:30px;
}

.contentPrincipios p{
	padding-top: 7px;
}

.txtInsTitle p{
	margin-bottom: 50px;
}

.txtInsTitle h3{
	margin-bottom: 10px;
}

.casoExito h2 {
    color: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
	float: right;

}

.eachBandera{
	display: block;
    position: relative;
    width: 100%;
}

.eachBandera span{
	color: #ffffff;
    position: absolute;
    width: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
	font-family: 'Roboto Slab', serif;
}

.imgBandera{
	margin-bottom: 20%;
    max-width: 86px;
    margin-right: 10px;
}

.somos .link {
    width: 220px;
    height: 56px;
    background-color: #00dfc3;
    box-shadow: 4px 6px 15px 0 rgba(0,0,0,.25);
    font-family: Work Sans,sans-serif;
    font-size: .95em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 56px;
    letter-spacing: .5px;
    text-align: center;
    color: #000;
    display: block;
    margin: 30px 0 0;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.iconoSolucionM {
    width: 100%;
    height: 100px;
    /* margin-bottom: 29px; */
    max-width: 100px;
    margin: 0 auto 30px;
}

.iconoSolucionM:first-child{
	margin-top: 30px;
}

.moreSol {
    margin-top: 100px;
    margin-bottom: 100px;
}

.moreSol .eachSol {
    background-color: #fff;
    border: 10px solid #ccf9f3;
    border-radius: 0;
    padding: 16px;
	width: 90%;
	margin: 0 auto;
	height: 300px;
}

.moreSol h2{
	margin-top: 20%;
}

.imgBandera img{
	max-width: 100%;
}

.iconoPrin {
    text-align: center;
    padding: 0;
}

.iconoPrin:first-child {
    color: #ffffff;
}

.eachPractica{
	border: none;
	background-color: #ffffff;
box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.09);
    padding: 5px 20px;
border: 10px solid #fff;
cursor: pointer;
}
.eachPractica a {
    color: #333;
    font-weight: 600;
    font-size: 14px;
    margin-top: 15px;
    display: block;
    width: 60px;
    text-align: center;
    cursor: pointer;
}
.eachPractica:hover{
	border: 10px solid #00dfc3;
    box-shadow: 10px 12px 16px 0 rgba(0, 0, 0, .15);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.eachPractica:hover a{
  border-bottom: solid 2px #00dfc3;
}
.practica h2 {
	width: 95%;
	max-width: 305px;
    display: block;
}
.dark .fillTriangle {
    fill: #000;
    stroke: #000;
}

.line{
	border-right: 1px solid #ffffff;
}

.lineB:first-child, .lineB:nth-child(2), .lineB:nth-child(3){
	border-bottom: 1px solid #ffffff;
	margin-bottom: 40px;
}

.claim {
    max-width: 500px;
    margin: 5% auto 0;
    display: block;
    width: 95%;
}
.imagesPrin{
	position: relative;
}
.imagesPrin h3 {
    position: absolute;
    bottom: 40px;
    width: 100%;
    color: #fff;
}
.internaB {
    position: relative;
}

h3{
	color: #000;
}

/*desktop*/@media only screen and (max-width: 992px){
.submenu{
	padding-bottom: 0;
}
.submenu.experience{
		border: 8px solid #7d00dc;
	}
.submenu.evolution{
	border: 8px solid #2A49F9;
}

.submenu.analytics{
	border: 8px solid #DC4913;
}

.submenu.commerce{
	border: 8px solid #3A13D8;
}

.submenu.cloud{
	border: 8px solid #269A47;
}

	.claimMenu .conoceMenu p {
    font-size: .8em;
    font-weight: 700;
		margin: 10px 0;
}
#navbarText .claimMenu .conoceMenu p a:after{
	display: none;
}
.submenu .submenuHere{
	background-color: #f4f4f4;
}
.claimMenu .descMenu p {
    color: #999999;
    font-size: .9em;
    line-height: 1.2em;
}

	.claim{
		margin-top: 75px;
	}
	.powerOf-text{
	padding-top: 30px;
    padding-bottom: 0px;
	}
}
/*tablet*/@media only screen and (max-width: 768px){
.bannerInterna img {
    width: 97%;
    position: relative;
    max-width: 600px;
    position: absolute;
    bottom: 10%;
    right: 0px;
    z-index: 9;
}
	.imgBandera {
    margin-bottom: 20%;
    width: 100%;
    max-width: 100px;
}
	.dos {
    display: block;
    width: 100%;
    margin: 0 auto;
}
	.casoExito h2 {
    text-align: center;
}
		.iconoprin{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 10%;
	margin-bottom: 0;
	}
	.labelS {
    padding-top: 0px !important;
	text-align: center;
		margin-left: 0px;
}
	.contentPrincipios p:last-child {
    margin-bottom: 6%;
}

	.line{
	border-right: none;
}

.lineB:first-child, .lineB:nth-child(2), .lineB:nth-child(3){
	border-bottom: none;
	margin-bottom: 0px;
}
	.iconoprin{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
    margin-top: 10%;
	margin-bottom: 0;
	}

	.claim{
		margin-top: 30px;
	}
	.powerOf-text{
	padding-top: 20px;
    padding-bottom: 30px;
	}


}
/*mobile*/@media only screen and (max-width: 577.98px){
.contenedorLogo {
    width: 90%;
    height: 145px;
   margin: 0px auto;
    position: relative;
}
	.imgBandera {
    margin-bottom: 20%;
    width: 100%;
    max-width: 60px;
}
	.dos {
    display: block;
    width: 100%;
    margin: 0 auto;
}
	.somos{
	padding: 5%;
	}
	.casoExito h2 {
    text-align: center;
}
	.iconoprin{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 10%;
	margin-bottom: 0;
	}
	.labelS {
    padding-top: 0px !important;
	text-align: center;
	margin-left: 0px;
}
	.contentPrincipios p:last-child {
    margin-bottom: 30px;
}
	.claim{
		width: 100%;
	}


	.txtHome h1 {
    padding-top: 40%;
    padding-bottom: 2%;
    padding-left: 7%;
    padding-right: 7%;
	font-size: 35px;
}
	.txtHome span {
    font-size: 18px;
    font-weight: 500;
    padding-left: 3%;
    padding-right: 3%;
}
	.line{
	border-right: none;
}

.lineB:first-child, .lineB:nth-child(2), .lineB:nth-child(3){
	border-bottom: none;
	margin-bottom: 0px;
}

	.claim, .principiosHome h2{
		margin-top: 30px;
	}
	.powerOf-text{
	padding-top: 20px;
    padding-bottom: 30px;
	}
	.txtInsTitle h3 {
    margin-bottom: 10px;
    text-align: center;
}

	.txtHome {
    text-align: center;
    top: -75px !important;
}

}
.announcement{
    margin: 30px 0;
}
.announcement .descofP p{
    font-family: Open Sans, sans-serif;
    font-size: 26px;
    font-weight: 800;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: #000000;
    width: 100%;
}
.announcement .whiteBG{
    background-color: #ffffff;
}


.announcement .btnMore a{
    font-family: Open Sans, sans-serif;
font-size: 16px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: 1.5;
letter-spacing: normal;
color: #000000;
text-transform: uppercase;
bottom: 25px;
margin-left: 15px;
}
.announcement .imageCE{
    height: auto;
}
@media (max-width: 575.98px) { 
    .announcement .descofP p{
        font-size: 20px;
    }
    .announcement .btnMore a{
        margin-left: 0;
        margin-top: 15px;
        display: block;
    }
 }
@media (min-width: 576px) and (max-width: 767.98px) { 
    .announcement .btnMore a{
        margin-left: 0;
        margin-top: 15px;
        display: block;
    }

 }
@media (min-width: 768px) and (max-width: 991.98px) { 
    .announcement .whiteBG .eachInfOfP{
        padding: 10px 0 10px 0;
    }
    .announcement .descofP p{
        font-size: 20px;
    }
    .announcement .btnMore a{
        margin-left: 0;
        margin-top: 15px;
        display: block;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .announcement .whiteBG .eachInfOfP{
        padding: 40px 0 10px 0;
    }
    .announcement .btnMore a{
        position: absolute;
    }
    .announcement .descofP p{
        font-size: 20px;
    }
   
 }
@media (min-width: 1200px) {  
    .announcement .whiteBG .eachInfOfP{
        padding: 90px 0 10px 0;
    }
    .announcement .btnMore a{
        position: absolute;
    }
}