.loop(@i) when (@i > 0){
  .loop((@i - 1));
  .wrap_1 .space@{i}{
    width: floor(@i*@h-size_1/(1/tan(15deg)));
  }
}
.loop(@i) when (@i > 0){
  .loop((@i - 1));
  .wrap_2 .space@{i}{
    width: floor(@i*@h-size_2/(1/tan(15deg)));
  }
}

div.wrap_1 {
  width: 350px;
  border:1px solid red;
}

@h-size_2: 48px;
@h-size_1: 20px;
.space {
  display: block;
  float: left;
  clear: left;
  width: @h-size_1;
}
.wrap_1 .space{
    height: @h-size_2;
}
.wrap_2 .space{
    height: @h-size_1;
}

.loop(11);
