@an: #00dfc3;
@white: #ffffff;
@black: #000000;
@very-light-gray: #eeeeee;
@very-dark-gray: #111111;
@dove-gray:#666666;
@light: 300;
@regular: 400;
@sbold: 600;
@bold: 700;
@xbold: 800;
@once: .68em;
@doce: .75em;
@veinte: 1.2em;
@catorce: .87em;
