
.internaB{
      position: relative;
}

.internaB .container {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
        position: absolute;
        margin:0;
        border: 0;
}
h2.standard{
  font-size: 48px !important;
}
h2.standard:after{
  content: ' ';
width: 100%;
height: 3px;
background: black;
display: block;
}
.internaB p {
    padding-left: 0;
    width: 100%;
    font-size: 24px;
    font-family: Roboto Slab;
}
.tecnologias {
    padding: 70px 0px;
}
.tecnologias h2 {
    text-align: right;
        margin-top: 59px;
        font-size: 2.3em;
}
.rowBorder {
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding: 5px 0px;
}
.tecnologiasb {
    background: white;
}
.rowBorder p{
  font-size: 1em;
    display: block;
    line-height: 90px;
    font-weight: 700;
}
.metoLogos img{
  filter: contrast(0%);
  max-width: 120px;
}
.eachT {

}
.internaB .container{
  z-index: 1
}

.contacta{
  background: url('../images/banner-inferior-contacto.jpg') center no-repeat;
  background-size: cover;
}
.contacta a {
  width: 100%;
  max-width: 300px;
}
.linea::after {
    position: absolute;
    width: 1px;
    height: 98%;
    content: ' ';
    right: 0;
    top: 0;
    border-right: 2px dashed #808285;
}
.lineb::after {
    position: absolute;
    width: 1px;
    height: 98%;
    content: ' ';
    left: -2px;
    top: 0;
    border-right: 2px dashed #808285;
}
.eachH:last-child .line::after {
    height: 50%;

}
.eachH:first-child .line::after {
    height: 50%;
    top: 50%;
}
.lineb, .linea {
    padding-bottom: 20px;
}
.line {
    padding-bottom: 25px;
}
.linea::before {
    content: ' ';
    width: 14px;
    height: 14px;
    background: red;
    position: absolute;
    right: -6px;
    z-index: 2;
    border-radius: 50%;
    top: 19px;
    background: url('../images/bullet.png') center no-repeat;
}
.lineb::before {
    content: ' ';
    width: 14px;
    height: 14px;
    position: absolute;
    left: -8px;
    z-index: 2;
    border-radius: 50%;
    top: 10px;
    background: url('../images/bullet.png') center no-repeat;
}
.historia .anioa {
    text-align: right;
    display: block;
    height: 50px;
    margin: 0 8px 34px 0px;
    line-height: 50px;
}
.textob {
    /*margin-bottom: 25px;*/
}
@media screen and (max-width: 768px) {
  #pop.landing .content {
    padding-top: 0px !important;
}
  .solutions h3{
    height: auto;
  }
  .internaB.practicas .container{
    position: relative;
    transform: translate(0,0);
    left: 0;
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
  }
  .internaB .container {
      transform: translate(-50%,150%);

  }
  .tittleSeccion h2 {
    font-size: 24px !important;
  }
  .triangleCornerTop {
    width: 50px;
    height: 80px
  }
  .triangleCornerBottom {
    width: 50px;
    height: 80px
  }
  .triangleCornerLogoA {
    width: 50px;
    height: 80px
  }
  .triangleCornerLogo {
    width: 50px;
    height: 80px
  }
  .gralContainer {
    overflow-x: hidden
  }
  .contacta h3 {
    text-align: center
  }
  .contacta p {
    text-align: center;
    padding-bottom: 15px
  }
  .txtContacta {
    width: 90%;
    margin: 0 auto;
    max-width: 300px;
    word-wrap: break-word
  }
  .jumbotron .container {
    padding-top: 10px
  }
  .practicas .entry {
    height: auto;
    width: 100%;
    top: 0;
    background-position: center!important;
    position: relative;
  }
  .entryItem {
    position: relative;
    height: auto;
    top: 0 !important;
  }
  .bannerInterna.practicas img{
    width: 100%;
    max-width: 768px;
    bottom: 0;
  }
  .bannerInterna.internaB.practicas img{
    position: relative;
  }
  .practicas .textoEntry {
    -webkit-transform: none;
    transform: none;
    margin: 0;
    padding: 15px;
    max-width: none;
    top: -6px;
    width: 100%;
      position: relative;
    padding: 1px 30px 35px 30px;
  }
  .parrafo {
    -webkit-transform: none;
    transform: none;
    width: 100%
  }
  .casoExito {
    padding-bottom: 100px
  }
  .casoExito h2 {
    text-align: center
  }
  .customerLogo {
    width: 100%;
    height: 180px;
    background-color: white;
    text-align: center;
    position: relative;
    margin-left: -80px;
    margin-top: -74px;
    bottom: 0
  }
  .solutions .cardTitle {
    position: static;
    margin-top: 0;
    float: none;
    text-align: center
  }
  .solutions .card {
    max-width: 300px;
    width: 90%
  }
  .txtSolUn {
    height: auto;
    margin-bottom: 10px;
  }
  .iconSolU {
    margin-left: auto;
    margin-right: auto
  }
  .middleItem:before {
    content: none
  }
  .middleItem:after {
    content: none
  }
  h3 {
    font-size: 36px
  }
  .tittleSeccion h2 {
    text-align: center;
    float: none
  }
  .bannerInterna.practicas {
    min-height: auto;
    height: auto;
  }
  .internaB .container,
  .bannerInterna .container{
    top: 0 !important;
    position: relative;
  }
  .bannerInterna p {
    width: auto;
    padding-left: 0
  }
  .internaB .container {


    position: absolute;
    margin: 0;
    border: 0
  }
  .bannerIntSolution .iconoSolucion {
    margin-left: auto;
    margin-right: auto;
    float: none
  }
  .bannerIntSolution .iconoSolucion svg {
    width: 140px;
    height: auto;
  }
  .bannerIntSolution .bannerSolucion h1>p {
    font-size: 36px!important
  }
  .bannerIntSolution .bannerSolucion h1 {
    margin-top: 0
  }
  .fact .introfact {
    padding: 30px 10px 60px
  }
  .fact .introfact .icono {
    margin-top: 100px;
    margin-bottom: 40px
  }
  .fact .introfact p {
    margin-top: 30px
  }
  .titlecorte {
    border-left: 40px solid transparent;
    border-bottom: 75px solid #7fefe1
  }
  .historia h2 {
    text-align: center
  }
  .insights p {
    padding-bottom: 30px
  }
  .insights .txtInsTitle {
    text-align: center;
    display: block
  }
  .insights .tittleSeccion {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block
  }
  .insights h2 {
    float: none
  }
  .txtInsTitle p {
    padding-bottom: 30px
  }
  .principios h2 {
    text-align: center
  }
  .principios p {
    margin-bottom: 30px
  }
  .practica h2 {
    text-align: center
  }
  .practicaNosotros .tittleSeccion {
    margin-top: 20px;
    margin-bottom: 60px
  }
  .corporativo .introfact {
    padding: 30px 10px 60px
  }
  .corporativo .introfact .icono {
    margin-top: 100px;
    margin-bottom: 40px
  }
  .especialista h2 {
    margin-top: 0;
    text-align: center
  }
  .presencia {
    margin-top: 60px
  }
  .presencia h2 {
    text-align: center
  }
  .beneficios .introfact {
    padding: 20px 10px 40px;
    width: auto;
    margin-right: 0;
margin-left: 0;
  }
  .productos h2 {
    text-align: center
  }
.bannerInterna.internaB.practicas{
  background-image: none !important;

}
  .internaB h1{
        font-size: 32px;
  }
  .bannerInterna .container {
    width: 90%;
}
.bannerInterna {
    background-position-x: right;
}
.rowBorder {
    width: 100%;
    margin: 0 auto 40px;
}
.tecnologias h2 {
    text-align: left;
    margin: 35px 0 55px;
    font-size: 24px;
}
.eachT {
    margin-top: 50px;
    width: 98%;
    max-width: 700px;
    margin: 0px auto 30px;
}
.contacta h3 {
    font-size: 1.9em;
  }
  .contacta p{
    border:0;
  }

.eachT img {
    max-width: 100%;
}

	.lineb, .linea {
    padding-bottom: 20px;
    max-width: 25%;
}
}
#pop {
display: none;
}
#pop.landing{
  display: block;
}
#pop .overlay{
  background: rgba(0,0,0,.7);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
#pop .content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 100px 0 40px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
#pop.landing .content{
  margin-top: 0;
  padding-top: 90px;
}
#pop .container{
  background: #ffffff;
  -webkit-box-shadow: 1px 0 6px 0 rgba(0,0,0,.3);
box-shadow: 1px 0 6px 0 rgba(0,0,0,.3);
border-radius: 3px;
}
#pop.landing .container{
  -webkit-box-shadow: none;
box-shadow: none;
border-radius: 0;
background-color: transparent;
}
#pop h2, #solucion h2{
  color: #000;
  text-transform: uppercase;
  font-size: 45px;
}
#pop #modalBox{
  position: relative;
  padding-bottom: 100px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size:contain;

}
#pop.landing #modalBox{
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
#pop #modalBox .cerrar{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  line-height: 1;
  cursor: pointer;
}
#pop #modalBox img{
  max-width: 90%;
}
#pop #modalBox h3{
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 24px;
}
#pop #modalBox .beneficios, #pop #modalBox .servicios{
  margin-top: 50px;
}
#pop #modalBox .beneficios ul{
  list-style: outside none;
  margin-top: 30px;
}
#pop #modalBox .beneficios ul li{
  margin: 20px 0;
}
#pop #modalBox .beneficios h3{
  text-indent: 47px;
}
#pop #modalBox .beneficios ul li .ttListB{
  font-family: Roboto Slab;
 font-size: 16px;
 color: #000;
 font-weight: 700;
}
#pop #modalBox .beneficios ul li .ttListB i{
  margin: 0 20px 0 0;
  font-size: 25px;
  line-height: 1;
  float: left;
}
#pop #modalBox .beneficios ul li .ttListB, #pop #modalBox .beneficios ul li .icon{
}
#pop #modalBox .gris{
  background-color: #f2f2f2;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: -60px;
}
#pop .overflowHidden{
  overflow: hidden;
  position: relative;
  left: 16px;
}
#pop .txtPop{
  padding: 0 10px 0 30px;
  color: #FFF;
  position: relative;
  top: -30px;
}
#pop .txtPop p{
  line-height: 1.3;
  font-size: 16px;
}
#pop .close{
  position: absolute;
  top: 10px;
  right: 10px;
}
#pop .copete{
min-height: 60px;
-ms-transform: skew(-23deg,0deg); /* IE 9 */
    -webkit-transform: skew(-23deg,0deg); /* Safari */
    transform: skew(-23deg,0deg); /* Standard syntax */
left: 13px;
position: relative;
margin-top: 30px;
}
#pop #modalBox .servicios ul{
    color: #333333;
    font-size: 14px;
    margin-top: 25px;
}
#pop #modalBox .servicios ul li{
  padding-left: 10px;
  line-height: 2.5;
}
#pop #modalBox .servicios ul li span{


}
@media(max-width:992px) {
  .container.clientesLogos img{
    max-width: 90%;
  }
  #pop h2{
    font-size: 26px;
  }
  .linea {
    max-width: 50%;
}
.historia div div div p{ margin-bottom: 15px;}
}
@media screen and (min-width: 769px) {

}

/*mobile*/
@media only screen and (max-width: 577.98px){

}
