

.nav-item a {
	color: #808285
}

.nav-item a:hover {
	color: #fff;
	border-bottom: 1px solid #00dfc3;
	-webkit-text-decoration-line: none;
	text-decoration-line: none
}

.navbar-brand {
	width: 67px;
	height: auto;
}

.jumbotron {
	background-color: #fff;
	margin-bottom: 0
}

.jumbotron .unity {
	height: 200px
}

.jumbotron .svgImage {
	width: 80%
}

h2 {
	font-size: 48px;
	font-family: Open Sans, sans-serif;
	font-style: italic;
	font-weight: 800
}

h3 {
	font-size: 24px;
	font-family: Open Sans, sans-serif;
	font-style: italic;
	font-weight: 800
}

.linkLine {
	text-decoration: none;
	font-size: 14px;
	color: #000;
	font-weight: 600
}

.casoExito {
	position: relative;
	background-color: #000;
	padding-bottom: 180px
}

.casoExito h2 {
	color: #fff;
	margin-top: 100px
}

.casoExito h3 {
	color: #00dfc3;
	margin-top: 53px
}

.casoExito p {
	color: #fff;
	font-size: 14px;
	width: 80%
}

.triangleCornerTop {
	position: absolute;
	width: 100px;
	height: 180px;
	left: 0;
	top: 0
}

.fillTriangle {
	fill: white;
	stroke: white
}

.triangleCornerBottom {
	width: 100px;
	height: 180px;
	position: absolute;
	bottom: 0;
	right: 0
}

.triangleCornerLogoA {
	overflow: hidden;
	width: 100px;
	height: 180px;
	position: relative;
	float: left
}

.fillTriangleLogoA {
	fill: #000;
	stroke: #000
}

.triangleCornerLogo {
	overflow: hidden;
	width: 100px;
	height: 180px;
	position: relative;
	float: right
}

.fillTriangleLogo {
	fill: #000;
	stroke: #000
}

.solutions {
	margin-top: 100px;
	margin-bottom: 100px
}

.solutions .cardTitle {
	display: block;
	position: absolute;
	float: left;
	margin-top: 50%
}

.solutions .card {
	background-color: #fff;
	border: 10px solid #ccf9f3;
	border-radius: 0;
	padding: 16px;
	margin-bottom: 30px
}

.solutions .card .linkLine {
	display: inline-block;
	margin-top: 20px!important
}

.solutions .card .linkLine:hover {
	border-bottom: solid 2px #00dfc3;
	text-decoration: none;
	color: #000
}

.solutions .card p {
	margin-top: 10px
}

.solutions .card:hover {
	border: 10px solid #00dfc3;
	box-shadow: 10px 12px 16px 0 rgba(0, 0, 0, .15);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out
}

.clientes,
.tecnologias {
	position: relative;
	background-color: #f6f6f6
}

.clientes h2 {
	color: #000
}

.clientes .clientesLogos {
	padding-top: 80px;
	padding-bottom: 80px
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

ol {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

.tituloI {
	font-weight: 800;
	font-style: italic;
	letter-spacing: 1px
}

.woks {
	font-family: Work Sans, sans-serif
}

body {
	font-family: Open Sans, sans-serif
}

.secondMenu {
	padding: 0px;
	font-family: Work Sans, sans-serif
}

.secondMenu ul li {
	padding: 0 12px
}

.secondMenu .idioma {
	position: relative;
	display: none;
}

.secondMenu .idioma:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 1px;
	height: 60%;
	top: 9%;
	left: 0;
	border-right: 2px solid #333333;
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg)
}

.secondMenu .idioma a {
	color: #00DFC3
}

#navbarText ul li {
	cursor: pointer;
	padding: 5px 25px;
	position: relative
}

#navbarText ul li a {
	font-size: 1em;
	color: #fff;
	font-weight: 800;
	font-style: italic;
	letter-spacing: 1px
}

#navbarText ul.submenuHere li > a:after, #navbarText ul li.nav-item > a:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 1px;
	height: 50%;
	top: 10px;
	left: 0;
	border-right: 1px solid #00dfc3;
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg)
}
#navbarText ul.navbar-nav li:first-child > a:after{
display: none;
}
#navbarText .experience ul.submenuHere li > a:after{
	border-right: 1px solid #7d00dc;
	}
#navbarText .evolution ul.submenuHere li > a:after{
	border-right: 1px solid #2A49F9;
}

#navbarText .analytics ul.submenuHere li > a:after{
border-right: 1px solid #DC4913;
}

#navbarText .commerce ul.submenuHere li > a:after{
	border-right: 1px solid #3A13D8;
}

#navbarText .cloud ul.submenuHere li > a:after{
border-right: 1px solid #269A47;
}

 #navbarText ul li.nav-item > a:after{
	 top: 14px;
 }
#navbarText .submenu ul li:after {
	display: none;
}
#navbarText ul.submenuHere li{
	line-height: .9em;
}
#navbarText ul li:last-child:after {
	display: none
}

button.navbar-toggler span {
	width: 18px;
	height: 2px;
	display: block;
	background:#ffffff;
	margin: 4px 0 0;

}
button.navbar-toggler[aria-expanded="true"] span.a{
	display: none;
}
button.navbar-toggler[aria-expanded="true"] span.b{
	transform: rotate(45deg);

}
button.navbar-toggler[aria-expanded="true"] span.c{
	transform: rotate(-45deg);
	position: relative;
	top: -6px;
}
#supfooter {
	background: #111;
	padding: 40px 0
}

#supfooter h6 {
	width: 100%;
	text-align: left;
	color: #fff;
	font-size: 1em;
	font-weight: 800;
	font-style: italic;
	letter-spacing: 1px;
	font-family: Open Sans, sans-serif;
	text-transform: uppercase; 
}

#supfooter ul {
	list-style: none;
	line-height: 2.14;
	font-family: Work Sans, sans-serif;
	margin: 15px 0 0
}

#supfooter ul li a {
	font-size: .87em;
	letter-spacing: .5px
}

#supfooter ul li a.active {
	color: #00dfc3
}

#supfooter .separador {
	width: 1px;
	height: 100%;
	background: #666;
	position: absolute;
	-webkit-transform: translateX(-50%);
	transform: rotate(20deg) translateX(-50%);
	left: 50%
}

#subfooter {
	background: #000;
	padding: 30px 0
}

#subfooter ul {
	list-style: none;
	padding: 0;
	margin-bottom: 5px
}

#subfooter ul li {
	display: inline;
	padding: 5px 10px
}

#subfooter ul li a {
	font-size: .6em
}

#subfooter .legal {
	font-size: .68em;
	padding: 0 10px
}


/* ----------------- Somos ------------------------- */
.mapaSomos {
    position: relative;
    background-color: #f6f6f6;
}
