.solucC{ margin-top: 0px!important}
.especialista .info {
    padding-top: 4px;
}
.claimMenu .eachClaim {
    opacity: 1;
}
.info a {
    color: #212529;
    display: block;
}
.principiosHome h2 {
    text-align: center;
    margin-bottom: 3%;
}
.eachPu {
    margin-bottom: 25px;
}
.bannerInterna {
    background-position: center;
}
.especialista .texto {
    margin-top: 30px;
}
.mapaContacto h2 {
    width: 95%!important;
    max-width: 635px;
    text-align: right;
    word-wrap: break-word;
}
.claimTec img {
    opacity: .3;
    max-width: 401px;
    width: 95%;
    margin: 5% auto 3%;
}
.tecnologias h2:after {
    content: ' ';
    width: 100%;
    height: 3px;
    background: black;
    display: block;
}
.especialista {
    padding: 5% 0 3%;
}
.claimTec {
    text-align: center;
        margin: 5% auto 3%;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #00DFC3;
}
.contItem p {
    text-align: center;
    font-weight: 700;
}
button:focus {
    border: 0 none!important;
    outline: none;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: 0 none;
    color: #FFF;
    text-decoration: none;
}
.submenu {
    background: white;
    padding: 30px 0px 40px;
}
.eachPractica a:hover{
  text-decoration: none;
}
.header {
    z-index: 999;
    position: relative;
    background-color: #222222;
}
.submenu ul{
  list-style: none;
}
.submenu ul li::after{ display: none!important;}
#navbarText .submenu ul li a{
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 2 !important;
    letter-spacing: 0.3px!important;
    text-align: left!important;
    color: #333333;
    font-family: Open Sans, sans-serif;

}
.claimMenu .descMenu p{
  color: #999999;
  font-size: 1.1em;
  line-height: 1.5em;
}
.claimMenu .conoceMenu{ margin-top: 15px;}
.claimMenu .conoceMenu p{
  font-size: 1.1em;
  font-weight: 400;
}
.claimMenu .conoceMenu p a{
  color: #000 !important;
}
.eachClaim {
    width: 350%;
    max-width: 500px;
    opacity: 0.3;
    margin: 0 0 15px;
}
.eachClaim img {
  width: 270px;
}
.eachFooter.first{
    max-width: 150px;
    margin: 0 auto;
}
.eachFooter.last {
    width: 220px;
    margin: 0 auto;
}
.eachFooter ul li a{
  color: #808285!important;
}
.activeMnu{border-bottom: 2px solid #00dfc3;}
#navbarText ul li a:hover{border-bottom: 2px solid #00dfc3;}
#navbarText ul li a {
    padding-bottom: 0px;
    text-indent: 10px;
}
#navbarText ul li i{
  color: #00dfc3;
  font-size: 1em;
  padding: 0 0 0 5px;
  line-height: 0px;
}
#navbarText ul li a.regular{
  font-style: normal;
}
.submenu {
  display: none;
    background: white;
    padding: 30px 0px 40px;
}
@media only screen and (max-width: 767px){
  #supfooter h6 {
    padding-top: 25px;
}
  #subfooter .legal {
    font-size: .68em;
    padding: 20px 6px 15px 0;
    text-align: center;
}
  ul.politicas li a {
    display: block;
    text-align: center;
    padding: 6px 0px;
}
  a.logoFoot img {
    width: 100%;
    margin: 40px auto 0px!important;
    max-width: 130px;
    display: block;
}
  .txtInsTitle p+h3, .txtInsTitle p+h3+p {
    display: none;
}
  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 35px;
}
  .owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 5px 6px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
  .somos h2 {
    float: none!important;
    text-align: center;
        margin: 0 auto 40px!important;
}

  .dos{width: 100%;}
  .somos {
      padding: 10% 0 0!important;
  }
.mapaSomos {
    padding: 0;
}
.mapaSomos .triangleCornerBottom{
  display: none;
}
.paisesListado {
  background: rgba(0,0,0,0.7);
width: 60px;
position: absolute;
right: 0px;
color: #fff;
height: 100%;
}
.somos .container {
    padding: 0;
}
.paisesListado ul {
    list-style: none;
    height: 100%;
}
.paisesListado ul li {
  height: 10%;
position: relative;
}
.paisesListado ul li span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.mapaDesk{
  display: none;
}
.mapaMob {
    width: 100%;
}
.infoOficina {
    background: #333;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.paises {
    position: relative;
        overflow: hidden;
}
.activeOficina {
    transform: translateX(0%);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
}
@media only screen and (min-width: 993px) {
  #navbarText ul.submenuHere li > a:after {
    border-right: 1px solid #DC4913;
    top: 8px!important;
}
  #navbarText ul li {
    height: 51px;
}
  .topMenu {
    padding-bottom: 0px;
}
  ul.navbar-nav.mr-auto.bu {
    padding-bottom: 3px;
}
  nav#shadowOver{
        padding: .5rem 1rem 0;
  }
  .descMenu {
    height: 120px;
    position: relative;
}
  .containerDescM {
    position: absolute;
    bottom: 0;
    font-size: .9em;
}
  .eachClaim img {
    height: 60px;
}
.claimMenu .conoceMenu {
    margin-top: 15px;
    height: 30px;
    position: relative;
}
.conoceMenu p {
    font-size: .8em!important;
    position: absolute;
    bottom: 0px;
    font-weight: 800!important;
}
  #navbarText .submenu ul li a {
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1 !important;
    letter-spacing: 0px!important;
    text-align: left!important;
    color: #333333;
    font-family: Open Sans, sans-serif;
}
#navbarText ul.submenuHere li{
  cursor: pointer;
    padding: 0px 25px;
    position: relative;
    height: 30px;
    margin-bottom: 15px;
}
  #navbarText ul.submenuHere li > a:after, #navbarText ul li.nav-item > a:after {
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
}
  .infoOficina h6 {
      padding-top: 35px!important;
  }
  .submenu {
    display: none;
      background: white;
      padding: 30px 0px 15px;
      position: fixed;
      width: 100%;
      left: 0px;
      top: 92px;
  }
  header .container {
    max-width: 1020px;
  }
  .topMenu{
    position: fixed;
    width: 100%;
    z-index: 9999;
        height: 91px;
  }

}
@media only screen and (min-width: 1025px){
  .nav-item:hover .submenu{
    display: block!important;
  }
  header .container {

}
}
@media only screen and (max-width: 1024px){
  .eachT {
    margin-top: 50px;
    width: 98%;
    max-width: 900px;
    margin: 0px auto 30px;
}
  .fact {
    max-width: 850px;
    margin: 0 auto;
}
  .activoSm{
    display: block!important;
  }
}

@media (max-width: 992px){
.activeMnu{
  border-bottom: none;
}
  .container.no-padding{
    padding-left: 0;
    padding-right: 0;
  }
  #navbarText{
    padding-left: 15px;
    padding-bottom: 15px;

  }
  .secondMenu{
    background-image: linear-gradient(to right, rgba(1, 1, 1, 0), #000000);
    padding-left: 15px;
    padding-top: 15px;
  }
  .secondMenu ul li a {
    font-size: .75em;
    font-weight: 600;
    line-height: 3em;}
    ul.navbar-nav.mr-auto.bu {
        padding-top: 25px;
    }
#navbarText ul li.nav-item > a::after{
  top: 0px;
max-height: 22px;
height: 35px;
transform: rotate(28deg);
left: 10px;
}
#navbarText ul li a {
  height: 30px;
    text-indent: 24px;
    font-size: 1em;
    padding: 0;
}
#navbarText ul li {
    margin-bottom: 15px;
}
  .navbar-brand {
      width: 33px;
      height: auto;
      padding: 0;
      margin: 10px 15px 10px 15px;
      line-height: 0;
  }
  #navbarText ul li a:hover{
    border-bottom: none;
  }
  #navbarText ul.navbar-nav li:first-child > a:after{
  display: block;
  }
  #navbarText ul.submenuHere li{
  	text-indent: 5px;
  }
  .navbar{
    padding:0;
  }
  .eachClaim {
      width: 90%;
    }
    .eachClaim img {
    width: 80%;
}
  #navbarText ul li:last-child::after{
    display: block;
  }
  #navbarText ul li > a:after{
    max-height: 15px;
  }
  #navbarText .submenu ul li > a:after{
    left: 15px;
  }
  li.nav-item{
    padding: 5px 0px 5px!important;
  }
  .secondMenu ul li a{
    font-size: .75em;
  }
  #navbarText ul li:after{
    content: "T";
top: 0px;
right: 12px;
font-size: 20px;
font-family: "dripicons-v2" !important;
font-style: normal !important;
font-weight: normal !important;
font-variant: normal !important;
text-transform: none !important;
speak: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color: #00DFC3;
position: absolute;
  }
  #navbarText ul li.downArrow:after{
      content: "W";
  }
  #subfooter .legal {
    font-size: .68em;
    padding: 20px 10px 30px 0;
}
  #video_background{
    display: none;
  }
  .moreSol h2 {
    margin: 0 0 70px!important;
}
div#navbarTextA {
}
.header{
  position: relative;
  transition: position 2s;
}
.submenu{
  margin: 5px 0px 0 -15px;
}
}
@media(min-width:992px){
  .submenu.analytics{border-color: #DC4913;}
  .submenu.commerce{border-color: #3A13D8;}
  .submenu.experience{ border-color: #7d00dc;}
  .submenu.cloud{border-color: #269A47;}
  .submenu.evolution{border-color:#2A49F9;}
  .submenu.special{
    position: absolute;
top: 30px;
width: auto;
border-bottom: none;
padding: 10px;
z-index: 99;
  }
  .submenu.special a{
    border: none;
  }
.submenu.special a:hover{
  color:#000;
}
#navbarText ul li a{
  font-size: 1.1em;
}
  .submenu.special a:after{
    display: none
  }
/*.header{min-height:90px}*/
.secondMenu{
  position:absolute;top:0;right:0;
}
.topMenu::before{
  content: "";
  position: absolute;
  top:0px;
  width: 100%;
  height: 40px;
  right: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+29,1+100 */
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 29%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 29%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 29%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */


}
#navbarText{
  position:absolute;top:40px;right:0;
}
.col-lg-3ths {
  width: 37.5%;
    float: left;
    max-width: 37.5%;
    flex: 0 0 37.5%;
  }

.col-lg-3ths,
.col-xl-3ths {
position: relative;
min-height: 1px;
padding-right: 10px;
padding-left: 10px;
}

.col-lg-2ths {
  width: 25%;
      float: left;
      max-width: 25%;
      flex: 0 0 25%;
}

.col-lg-2ths,
.col-xl-2ths {
position: relative;
min-height: 1px;
padding-right: 10px;
padding-left: 10px;
}
}
@media only screen and (min-width: 769px){
  .practica {
      padding: 5% 0;
  }
  .txtHome {
    position: absolute;
    top: 70%;
    right: 0;
    width: 100%;
    height: 270px;
    transform: translateY(-50%);
    max-width: 1100px;
}
  li.nav-item{
    padding: 5px 25px 5px!important;
  }
  .secondMenu ul li a{
    font-size: .75em;
  }

  .cambioMapa {
    position: relative;
  }
    .cambioMapa img {
      width: 100%;
  }

}
@media only screen and (max-width: 667px){
  .practicaNosotros {
    margin-top: 0!important;
}
  .principios {
    padding: 15% 0;
}
  .iconoPrin:first-of-type {
    width: 100%!important;
}
  .fact {
    width: 77%!important;
}
  .moreSol {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 90%;
    margin: 0 auto;
  }
  .eachFooter{
    max-width: 90%!important;
    width: 90%!important;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .lineTr:after {
    content: ' ';
    width: 2px;
    height: 80%;
    background: #ccf9f3;
    display: block;
    /* transform: rotateX(25deg); */
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 50%;
}
  .cerrarMapa{
    display: none!important;
  }
  .owl-dots {
    margin-top: 35px;
}
  .iconoPrin {
    text-align: center;
    padding: 0;
    width: 100%!important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
  .nosotrosIc h3 {
        font-size: 24px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px;
}
.nosotrosIc img {
  display: block;
    float: right;
    width: 100%;
    max-width: 85px;
}
  .cerrarMapa{display: none;}
  img.mapaMob{display: none;}
  .paises select{
    display: none;
  }

  .paisesListado li {
    width: 10%;
    display: block;
    float: left;
    text-align: center;
    padding: 15px 0px;
}
.cambioMapa img {
    max-width: 100%;
}
.infoOficina {
    position: absolute;
    top: 0px;
    right: 0;
    background: #333333;
    height: 100%;
    width: 310px;
    color: #fff;
}
.cambioMapa {
    position: relative;
}
.infoOficina h6 {
    padding-top: 15px;
}
}
@media only screen and (max-width: 768px) {
  .internaB.bannerBI::after {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,.70);
  background: -moz-linear-gradient(top, rgba(255,255,255,255) 6%, rgba(255,255,255,255,.70) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,255)), color-stop(100%, rgba(255,255,255,255.31)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,255) 6%, rgba(255,255,255,255,.70) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,255) 6%, rgba(255,255,255,255,.70) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,255) 6%, rgba(255,255,255,255,.70) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,255) 6%, rgba(255,255,255,255,.70) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  }
  .imagesPrin h3 {
    font-size: 25px;
}
  .mapaSomos .container {
    padding: 0px;
    max-width: 100%;
}
.container-fluid.mapaSomos {
    padding: 00px;
}
  .fact {
    width: 90%;
    margin: 0 auto;
    max-width: 680px;
}
  .practicaNosotros .tittleSeccion {
    position: relative;
    margin: 0;
}
  .practica {
    margin: 15% 0 0;
padding-bottom: 15%;
  }
  .cerrarMapa {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
    text-align: center;
    line-height: 30px;
        font-size: 1.3em;
}
  .activoSm{
    display: block!important;
  }
  li.nav-item{
  /*  padding: 5px 0px 15px!important;*/
  }


.secondMenu ul li a{
}
.idioma:after{ display: none!important;}
}
.eachPractica svg {
    width: 100%;
}
.iconoPrin {
    text-align: center;
    padding: 70px 0px 30px;
}
.iconoPrin.nosotrosIc svg path {
    fill: #00dfc3;
}
.secondMenu ul li a {
    text-transform: uppercase;
}
.parrafo svg {
    width: 100%;
}
.eachPractica img {
    width: 100%;
}

.noneScroll {
    position: absolute;
    display: none;
    opacity: 0;
}

.topMenu{
  width: 100%;
  z-index: 9999;
}
.eachFooter.first ul li a {
    text-transform: uppercase;
}
ul.politicas {
    width: 90%;
    max-width: 640px;
    margin: 0 auto;
}

ul.politicas li a{
  color: #808285!important;
  font-size: .8em;
letter-spacing: .5px;
}
.legal{
  width: 90%;
  max-width: 640px;
  margin: 0 auto;
  color: #808285!important;
  font-size: .8em;
letter-spacing: .5px;
}

.owl-stage-outer {
    z-index: 2;
}
.owl-nav {
  position: absolute;
  top: 50%;
  width: 106%;
  left: -3%;
  height: 62px;
  transform: translateY(-50%);
}

.owl-prev span {
  width: 50px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  text-align: left;
  height: 62px;
  color: #00dfc3;
  margin-left: -15px;
}

.owl-next span {
    width: 50px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    text-align: left;
    height: 62px;
    color: #00dfc3;
    margin-right: -15px;
}
.owl-prev, .owl-next{
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
}
.owl-next {
    right: 0px;
}
ul.selectContact li {
    font-size: 1.2em;
    margin: 0;
    height: 47px;
    margin-bottom: 10px;
    line-height: 47px;
    font-style: italic;
    font-weight: 800;
        text-transform: uppercase;
}

ul.selectContact {
    overflow: hidden;
    height: 47px;
    text-align: center;
    border: solid 1px #00dfc3;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
        position: relative;
    /* font-size: 1.2em; */
}

.arrowListado {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.arrowListado div {
    font-size: 1.8em;
    color: #00dfc3;
    transform: rotate(0deg);
}
.activar{
  height: auto!important;
  overflow: visible!important;
}
.activar div{
  transform: rotate(90deg);
}
.presencia h2 {
    text-align: center;
}
#video_background {
	position: absolute;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	overflow: hidden;
}
#video_pattern {
	background:#fff;
	position: fixed;
	opacity: 0.8;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.txtHome {
    z-index: 2;
}
#subfooter  ul li a{

}
#subfooter  ul li a img{
  width: 100%;
}
ul.redes li a {
    width: 30px;
    display: block;
    margin: 0 auto;
}

a.logoFoot img {
    width: 100%;
    margin: 50px 0px 20px;
}
.videoPlay {
    display: block;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* transform: translate(-50%,-50%); */
    z-index: 3;
    opacity: .9;
    /* border-radius: 50%; */
}
a.videoPlay .icon {
    font-size: 7em;
    text-align: center;
    /* line-height: 110px; */
    color: #00DFC3;
    /* margin-left: 10px; */
    /* background: red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.ttS{
  min-height: 140px;
display: block;
}
.owl-carousel {
    z-index: 10;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    padding-top: 27px;
}
.txtInsTitle {
    word-wrap: break-word;
    width: 98%;
    max-width: 500px;
}

  .infoOficina p, .infoOficina a, .infoOficina span{color: #fff;}
  .infoOficina h6{color: #fff;}
  .dirM, .mailM, .telM{
    width: 90%;
    max-width: 295px;
    margin: 30px auto 0;
}
.iconM {
    width: 20%;
    float: left;
    height: 100%;
    display: block;
    min-height: 20px;
}
.textM {
    width: 80%;
    float: left;
}
