.owl-buttons i {
    font-size: 2em;
}
.header-23, .pterm{
  background: #3e4040!important;
  color: #fff;
}
.terminosNav{
  position: relative!important;
      top: 45px!important;
}
.container.termC {
    padding: 30px 0px 20px;
}
a.iab {
    width: 52px!important;
    height: auto!important;
}
a#play {
    max-width: 80px;
    margin-top: 95px;
    /* position: absolute; */
    /* bottom: 10px; */
}
.termC ul{
  list-style: none;
}
.termC span{
      text-decoration: underline;
}
.termC h5 {
    display: block;
    text-align: center;
    font-weight: 900!important;
}
.termC ol, .termC ul {
    padding: 0px 0px 0px 0px;
    font-size: 18.004px;
    /* line-height: 19px; */
}

.termC ol li, .termC ul li {
    line-height: 29px
}

.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */
  line-height: 1.722169;
  /* 31px */
}
.lead {
  font-size: 28px;
  /* 28px */
  line-height: 1.4642745;
  /* 41px */
  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */
  line-height: 2.050846;
  /* 31px */
}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.bx-controls-direction {
    background: red;
    position: absolute;
    width: 100px;
    bottom: 0px;
}

.nasoftColor{
  color: #25ddc4!important;
}
span.subtitt {
    font-size: 4.5em;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif!important;
    margin: 100px 0px 10px;
    display: block;
    text-align: center;
}
.weare p {
    color: #d8d8d8;
    text-align: center;
        margin-top: 40px;
}
.integration{
  background: #de490f;
}

.experience{
  background: #7702dd;
}
.analytics{
  background: #2a49f9;
}
.cloud{
  background: #259b45;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: white;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
.infoSlider h3{
  text-align: left!important;
}
li.flag-wrapper{
  min-width: 40px!important;
}
.footer-7 .flag{
  width: 30px;
    height: 30px;
    border-radius: 0;
    background-color: #3e4040;
    margin: 5px auto 0;
    /* border: red; */
    border: 2px solid #3e4040;
}
@media (max-width: 767px) {
  .container.termC {
      padding: 30px!important;
  }
  a.iab {
    display: block!important;
    margin: 0 auto!important;
}
  .infoSlider h3{
    margin-top: 40px!important;
  }
  body {
    padding-right: 0;
    padding-left: 0;
  }
  a.goto.casita {
    display: block!important;
    position: relative!important;
    margin-bottom: 10px!important;
    top: 0px!important;
    left: 0px!important;
}
.footer-7 a{
  text-align: center;
      display: block;
}
.footer-7 .flag {
    width: 35px;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
  overflow: hidden;
  min-height: 100%;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loaded .page-wrapper,
.loaded .header-antiflicker,
.loaded body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.loaded.nav-visible .page-wrapper,
.loaded.nav-visible .navbar.navbar-fixed-top,
.loaded.nav-visible .header-antiflicker,
.loaded.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.loaded.no-csstransitions .page-wrapper,
.loaded.no-csstransitions .header-antiflicker {
  left: 0;
}
.loaded.no-csstransitions.nav-visible .page-wrapper,
.loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.loaded.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Open Sans', sans-serif!important;
  color: #fff;
  text-transform: uppercase;
}
.project {
    margin-top: 30px;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
img.img-responsive.mBottom{
  width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
#bgVideo {
  overflow: hidden;
}
#bgVideo > video {
  position: absolute !important;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.navbar {
  left: 0;
  right: 0;
}
.navbar .brand {
  padding: 23px 28px 24px 0;
  float: left;
}
.navbar .subnav {
  display: none;
}
.navbar a {
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
}
.navbar .navbar-toggle {
  margin: 26px 0 10px;
  color: white;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../../startup/common-files/icons/menu-icon@2x.png") 50% no-repeat;
  -webkit-background-size: 17px 12px;
  -moz-background-size: 17px 12px;
  -o-background-size: 17px 12px;
  background-size: 17px 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-toggle:before {
  display: none;
}
.navbar .navbar-form .btn {
  height: auto;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 24px;
  margin: -10px 0 0;
  position: relative;
  top: 4px;
}
.navbar.navbar-fixed-top {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 1170px;
  margin: 0 auto;
}
.loaded .navbar.navbar-fixed-top {
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
}
.header-19 .navbar-collapse.collapse,
.header-16 .navbar-collapse.collapse {
  display: none !important;
}
@media (max-width: 991px) {
  body .navbar-collapse {
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  body > .collapse.navbar-collapse {
    display: none !important;
  }
}
body .navbar-collapse#header-19,
body .navbar-collapse#header-16 {
  width: 230px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  z-index: 1;
}
body > .navbar-collapse {
  padding: 25px 0;
  overflow: auto;
  background: #222527;
  min-height: 100%;
}
body > .navbar-collapse::-webkit-scrollbar {
  display: none;
}
body > .navbar-collapse .pull-right,
body > .navbar-collapse .pull-left {
  float: none !important;
}
body > .navbar-collapse .nav {
  margin: 0 0 10px;
}
body > .navbar-collapse .nav > li {
  margin: 0;
}
body > .navbar-collapse .nav > li > a {
  display: block;
  padding: 12px 35px;
  border-bottom: 2px solid #24292d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #5b5e61;
  text-transform: uppercase;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus,
body > .navbar-collapse .nav > li > a.active {
  color: #fff;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus {
  background: none;
}
body > .navbar-collapse .nav > li.active > a {
  color: #fff;
}
body > .navbar-collapse .nav > li.active > a:hover,
body > .navbar-collapse .nav > li.active > a:focus,
body > .navbar-collapse .nav > li.active > a.active {
  color: #fff;
}
body > .navbar-collapse .subnav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
body > .navbar-collapse .subnav li > a {
  display: block;
  margin: 0;
  padding: 7px 35px;
  font-size: 13px;
  font-weight: normal;
  color: #5b5e61;
  text-transform: capitalize;
}
body > .navbar-collapse .subnav li > a:hover,
body > .navbar-collapse .subnav li > a:focus,
body > .navbar-collapse .subnav li > a.active {
  color: #fff;
}
body > .navbar-collapse .navbar-form,
body > .navbar-collapse .navbar-search {
  padding: 10px 35px;
  margin: 0;
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
}
body > .navbar-collapse .navbar-form:focus,
body > .navbar-collapse .navbar-search:focus {
  outline: 0 none;
}
body > .navbar-collapse .navbar-form .btn,
body > .navbar-collapse .navbar-search .btn,
body > .navbar-collapse .navbar-form .btn-primary,
body > .navbar-collapse .navbar-search .btn-primary {
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  color: #5b5e61;
  background: none;
  padding: 0;
}
body > .navbar-collapse .navbar-form .btn:hover,
body > .navbar-collapse .navbar-search .btn:hover,
body > .navbar-collapse .navbar-form .btn-primary:hover,
body > .navbar-collapse .navbar-search .btn-primary:hover {
  color: #fff;
}
.contenedroslider {
    width: 100%;
    margin: 0 auto;
}
/**
 * Header 23 stylesheet
 * */
.header-23 {
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.header-23 > .container {
  position: relative;
}
.header-23 .navbar {
  position: absolute;
  z-index: 2;
  top: 60px;
  font-family: 'Roboto Slab', serif;
}
.header-23 .navbar.navbar-fixed-top {
  position: fixed;
}
.header-23 .navbar .brand {
  padding-left: 0;
  font-size: 25px;
  font-weight: normal;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
}
.header-23 .navbar .nav > li {
  margin-left: 20px;
}
.header-23 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-23 .navbar .nav > li > a {
  padding: 31px 0 27px;
  font-size: 16px;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
}
.header-23 .navbar .nav > li > a:hover,
.header-23 .navbar .nav > li > a:focus,
.header-23 .navbar .nav > li > a.active {
  color: #506e8c;
}
.header-23 .navbar .nav > li.active > a {
  color: #506e8c;
}
.header-23 .navbar .nav > li.active > a:hover,
.header-23 .navbar .nav > li.active > a:focus,
.header-23 .navbar .nav > li.active > a.active {
  color: #405870;
}
.header-23 .navbar .navbar-toggle {
  margin-top: 28px;
}
.header-23-sub {
  z-index: 50;
  left: 0;
  width: 100%;
  position: relative;
  padding-top: 360px;
  padding-bottom: 120px;
  color: white;
  text-align: center;
  background: #1b1e21;
}
.header-23-sub .background {
  background-image: url('../../startup/common-files/img/header/img-video.jpg');
}
@media (max-width: 991px) {
  .header-23-sub {
    padding-top: 260px;
    padding-bottom: 170px;
  }
}
.header-23-sub .hero-unit {
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 30px;
  letter-spacing: -1px;
}
.header-23-sub .hero-unit strong {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -2px;
}
@media (max-width: 991px) {
  .header-23-sub .hero-unit strong {
    display: block;
  }
}
.header-23-sub .hero-unit span {
  font-weight: 300;
}
@media (max-width: 991px) {
  .header-23-sub .hero-unit span {
    display: block;
  }
}
.header-23-sub .hero-unit .btn-play {
     display: block;
    vertical-align: middle;
    overflow: hidden;
    width: 90%;
    height: auto;
    margin: 0 auto;
    max-width: 300px;
}
.header-23-sub .hero-unit .btn-play img{
  display: block;
  width: 100%;
}

.header-23-sub .background {
  opacity: 10;
  filter: alpha(opacity=1000);
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.mask {
  z-index: 1000;
  background-color: #000;
  opacity: 90;
  filter: alpha(opacity=9000);
  opacity: 0.9;
  filter: alpha(opacity=90);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
}
.popup-video {
  z-index: 1000;
  margin: 0 10%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
}
.popup-video.shown {
  position: fixed;
  width: 80%;
  height: 100%;
  overflow: visible;
  display: none;
}
.popup-video > * {
  width: 100%;
  height: 100%;
}
.projects.row {
    margin-top: 130px;
}
.projects-* .pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.projects-* .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.projects-* .pt-page-current,
.projects-* .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.projects-* .pt-page-ontop {
  z-index: 999;
}
.projects-* .v-center {
  display: table;
  width: 100%;
}
.projects-* .v-center > * {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  float: none;
}
@media (max-width: 767px) {
  .projects-* .v-center.row {
    display: block;
    width: auto;
  }
  .projects-* .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
/**
 * Project 4 stylesheet
 * */
.projects-4 {
  padding-top: 110px;
  padding-bottom: 110px;
  //background: #404040;
}
.projects-4 h3 {
      margin: 0 0 10px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    font-style: italic;
    color: #000;
}
.projects-4 h3+p{
      font-size: 20px;
      margin: 0px auto 30px;
      width: 90%;
}
.projects-4 .projects + .projects {
  margin-top: 80px;
}
.projects-4 .projects .photo-wrapper, .projects-4 .photo-wrapper {
  height: 90px;
  position: relative;
  overflow: hidden;
}
.projects-4 .projects .photo, .projects-4 .photo {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.mtop{
  margin-top: 30px;
}
.projects-4 .projects .overlay, .projects-4 .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 90px;
}
.projects-4 .projects .overlay [class*="fui-"] {
  font-size: 46px;
}
.sinPaddBtm{
  padding-bottom: 0px!important;
}
.projects-4 .overlay [class*="fui-"] {
  font-size: 46px;
}
.info {
    text-align: left;
    font-size: 13px;
    color: #3e4040;
    margin-top: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 900;
    height: 35px;
}
.mbesp{
    margin-bottom: 70px!important;
}
.clientesList img{
  width: 100%;
}
.clientesList{
  background: #24292d;
      padding: 70px 0px 85px;
}
.contactForm {
  background-color: #1e1e1e;
}
.contactForm form input:not(#submit), .contactForm form textarea {
  background-color: #121212;
   border: medium none;
   color: #ffffff;
   font-family: "Open Sans",sans-serif;
   font-size: 14px;
   font-weight: 300;
   padding: 10px 6px;
   width: 100%;

}
.contactForm form {
  margin: 50px 0;
}
.contactForm form label {
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 300;
   color: #ffffff;
    padding: 10px 0;
}
.contactForm form button#submit{
  color: #3deacc;
  background-color: #191919;
  padding: 10px 6px;
  width: 100%;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 300;
  border: medium none;
}
.contactForm form button i {
  position: relative;
  top: -2px;
}
.contactForm form > div {
  margin: 0 0 25px 0;
}

.addBtn {
    display: block;
    width: 35px;
    margin: 90px auto 10px;
    cursor: pointer;
}
.projects-4 .projects .info b {
  color: #7f8c8d;
}
.projects-4 .projects .name {
  color: #34495e;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.projects-4 .projects .name.color-pomegranate:hover,
.projects-4 .projects .name.color-pomegranate.hover {
  color: #c0392b;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .name.color-orange:hover,
.projects-4 .projects .name.color-orange.hover {
  color: #f39c12;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .name.color-belize-hole:hover,
.projects-4 .projects .name.color-belize-hole.hover {
  color: #2980b9;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .name.color-green-sea:hover,
.projects-4 .projects .name.color-green-sea.hover {
  color: #16a085;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .project:hover .photo {
  opacity: 40;
  filter: alpha(opacity=4000);
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.eachUnidad {
    padding: 15px 20px;
    //background: #eaeaea;
}
.eachUnidad h6, .eachUnidad p{
  color: #fff!important;
}
.weare {
    background: url('../images/weare.jpg') top left no-repeat;
        background-size: cover;
}
.weare h3+p{
          color: #b9b7b7;
}
.weare .info{
        color: #d4d3d3!important;
        margin-top: 0px!important;
}
a.playB {
    float: right;
    width: 35px;
    cursor: pointer;
    margin-top: 20px;
}
iframe#pPlayerB {
    width: 100%;
    height: 350px;
}
.modal-content {
    background: rgba(0,0,0,0.6);
}
button.close {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: .8;
    z-index: 999;
}
@media (max-width: 767px) {
  .projects-4 .projects .project-wrapper + .project-wrapper {
    //margin-top: 80px;
  }

}
/**
 * Content 16 stylesheet
 * */
.content-16 {
  position: relative;
  padding-top: 130px;
  padding-bottom: 180px;
}
.whiteColor{
  color: #fff!important;
}
.content-16.v-center,
.content-16 .v-center {
  display: table;
  width: 100%;
}
.content-16.v-center > div,
.content-16 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
.owl-buttons {
    position: relative;
    width: 100px;
    /* height: 30px; */
    margin-left: 6%;
}
.owl-next{
  right: 0px;
}
.owl-next, .owl-prev {
    position: absolute;
    bottom: 15px;
}
@media (min-width: 768px) {
  .content-16.v-center.row:before,
  .content-16 .v-center.row:before,
  .content-16.v-center.row:after,
  .content-16 .v-center.row:after {
    display: none;
  }
  .infoSlider {
    position: absolute;
    z-index: 1;
        top: 37%;
    left: 15px;
    width: 90%;
    max-width: 600px;
    left: 6%;
}
.infoSlider p{
  color: #fff!important;
}
.owl-buttons i {
    color: #fff;
    font-size: 1.4em;
}
}
@media (max-width: 767px) {
  .mBottom{
  margin-bottom: 20px;
}
.owl-buttons {
    height: 40px;
    margin-top: 20px;
}
  .content-16.v-center,
  .content-16 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
  .content-16.v-center.row,
  .content-16 .v-center.row {
    display: block;
    width: auto;
  }
  .content-16.v-center.row:before,
  .content-16 .v-center.row:before,
  .content-16.v-center.row:after,
  .content-16 .v-center.row:after {
    display: none;
  }
  .content-16.v-center.row > *,
  .content-16 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.content-16 .lead {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-bottom: 35px;
}
.content-16 h3 {
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
}
.content-16 h3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
.content-16 .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: #bdc3c7;
  background: #ecf0f1;
  position: absolute;
  left: 50%;
  bottom: 130px;
  margin-left: -26.5px;
}
.content-16 .control-btn:hover,
.content-16 .control-btn:focus {
  color: white;
  background: #34495e;
}
.content-16 .control-btn:active {
  color: #bdc3c7;
}
/**
 * Content 9 stylesheet
 * */
.content-9 {
  padding-top: 130px;
  padding-bottom: 130px;
  position: relative;
}
section.content-9 .row {
    padding: 40px 0px;
}
.content-9 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: 'Open Sans', sans-serif!important;
  margin-bottom: 24px;
  font-weight: 300;
}
.content-9 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 30px;
}
.content-9 h6 {
  text-transform: none;
  font-size: 18px;
  font-weight: normal;
  color: #34495e;
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 500;
}
.content-9 .info {
  font-size: 14px;
  font-weight: normal;
  color: #7f8c8d;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .content-9 .info {
    margin-top: 20px;
  }
}
.content-27 {
  position: relative;
  padding: 120px 0;
}
.content-27 svg,
.content-27 .svg {
  max-width: 100%;
}
.content-27 .nosvg {
  display: none;
}
@media (max-width: 767px) {
  .content-27 .svg,
  .content-27 .nosvg {
    text-align: center;
    float: none;
    margin-bottom: 45px;
  }
  .content-27 .svg {
    display: block;
  }
}
.content-27 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: 'Open Sans', sans-serif!important;
  text-align: left;
  margin-bottom: 43px;
  font-weight: 300;
}
.content-27 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: 'Roboto Slab', serif;
  line-height: 29.6px;
}
.content-27 .btn {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 991px) {
  .content-27 h3,
  .content-27 p {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.content-27 .btns {
  margin-top: 45px;
}
.content-27 .btns > * {
  display: inline-block;
  margin-left: 32px;
  vertical-align: middle;
}
.content-27 .btns > *:first-child {
  margin-left: 0;
}
@media (max-width: 991px) {
  .content-27 .btns .btn {
    display: block;
    margin: 0 5px 20px;
  }
  .content-27 .btns .btn:not(:first-child) {
    float: left;
    margin-right: 35px;
  }
}
@media (max-width: 480px) {
  .content-27 .btns .btn:not(:first-child) {
    float: none;
    color: white;
    margin-right: 5px;
  }
  .content-27 .btns .btn:not(:first-child):focus {
    outline: none;
  }
  .content-27 .btns [class*="fui-"] {
    margin-top: -6px;
  }
}
@media (min-width: 481px) {
  .content-27 .btns > *:not(:first-child) {
    padding: 0;
    background: transparent;
    color: #34495e;
  }
  .content-27 .btns > *:not(:first-child):hover,
  .content-27 .btns > *:not(:first-child):focus {
    color: #5d6d7e;
  }
  .content-27 .btns > *:not(:first-child):active,
  .content-27 .btns > *:not(:first-child).active {
    color: #2c3e50;
  }
  .content-27 .btns > *:not(:first-child) [class*="fui-"] {
    font-size: 30px;
    font-weight: normal;
    color: inherit;
    margin: 0;
  }
  .content-27 .btns > *:not(:first-child) :not([class*="fui-"]) {
    display: none;
  }
}
@media (max-width: 480px) {
  .content-27 .btns > * {
    display: block;
    margin: 0;
  }
  .content-27 .btns > * + * {
    margin-top: 10px;
  }
}
.content-26 {
  position: relative;
  padding-top: 125px;
  padding-bottom: 125px;
  text-align: center;
}
.content-26 .lead {
  font-size: 22px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-bottom: 0;
}
.content-26 h3 {
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 300;
  margin: 0 0 36px;
}
@media (max-width: 767px) {
  .content-26 .features {
    margin-top: -52px;
  }
}
.content-26 .features h6 {
  text-transform: none;
  margin-top: 37px;
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 500;
  font-size: 18px;
}
.content-26 .features > * {
  margin-top: 67px;
}
/**
 * Content 10 stylesheet
 * */
.content-10 {
  padding-top: 130px;
  padding-bottom: 125px;
  position: relative;
}
.content-10 .carousel {
  margin-bottom: 0;
  display: inline-block;
  text-align: center;
}
@media (max-width: 767px) {
  .content-10 .carousel {
    margin-top: 80px;
  }
}
.content-10 .carousel .item img {
  margin: 0 auto;
}
.content-10 .carousel .carousel-indicators {
  position: static;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}
.content-10 .carousel .carousel-indicators li {
  display: inline-block;
  float: none;
  width: 12px;
  height: 12px;
  margin-left: 7px;
  text-indent: -999px;
  background-color: #f1f1f1;
  border-radius: 50%;
  cursor: pointer;
}
.content-10 .carousel .carousel-indicators li:first-child {
  margin-left: 0;
}
.content-10 .carousel .carousel-indicators .active {
  background-color: #c0392b;
}
.content-10 .carousel .item {
  -webkit-transition: 0.6s ease-in-out opacity;
  -moz-transition: 0.6s ease-in-out opacity;
  -o-transition: 0.6s ease-in-out opacity;
  transition: 0.6s ease-in-out opacity;
  left: 0!important;
}
.content-10 .carousel .item.active.left,
.content-10 .carousel .item.active.right {
  opacity: 0;
  z-index: 2;
}
.content-10 .carousel .item.next {
  opacity: 1;
  z-index: 1;
}
.content-10 h3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: 'Open Sans', sans-serif!important;
  margin-bottom: 48px;
  font-weight: 300;
}
.content-10 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-10 .features .box {
  position: relative;
  padding-left: 140px;
  padding-top: 50px;
  margin-top: 50px;
  min-height: 100px;
  border-top: 2px solid #ecf0f1;
}
.content-10 .features .box.first,
.content-10 .features .box:first-child,
.content-10 .features .box:first-of-type {
  margin-top: 0;
  border-top: 0;
}
.content-10 .features .box > img {
  position: absolute;
  left: 0;
  top: 50px;
}
.content-10 .features h6 {
  text-transform: none;
  font-size: 22px;
  font-weight: normal;
  color: #2c3e50;
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.3;
}
.content-10 .features p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
/**
 * Content 6 stylesheet
 * */
.content-6 {
  position: relative;
 padding-top: 50px;
  padding-bottom: 60px;
}
.serviciosSec{
  background: #f6f6f6;
}
.item img{
  width: 100%;
}
section.images img {
    width: 100%;
}
span#tache {
   display: block;
    position: absolute;
    top: 10px;
    right: -35px;
    width: 30px;
    height: 35px;
    font-size: 2em;
    color: #25ddc4!important;
    font-family: 'Open Sans', sans-serif!important;
    z-index: 9;
}
@media (max-width: 768px) {
  .content-6 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .clientesList {
    background: #1c232b!important;
  }
  .clientesList img {
    max-width: 450px;
    margin: 0 auto;
}
}
.content-6 h3 {
  margin: 0 0 21px;
  font-style: italic!important;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  color: #2c3e50;
  font-family: 'Open Sans', sans-serif!important;
}
.content-6 h3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .content-6 h3 {
    margin-bottom: 15px;
  }
  .infoSlider h3.whiteColor{
    color:#25ddc4!important;
  }

}
.content-6 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 26px;
}
.content-6 .lead {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
@media (max-width: 767px) {
  .content-6 .lead {
    line-height: 1.25;
  }
}
.content-6.v-center,
.content-6 .v-center {
  display: table;
  width: 100%;
}
.content-6.v-center > div,
.content-6 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .content-6.v-center.row:before,
  .content-6 .v-center.row:before,
  .content-6.v-center.row:after,
  .content-6 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .content-6.v-center,
  .content-6 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
  .content-6.v-center.row,
  .content-6 .v-center.row {
    display: block;
    width: auto;
  }
  .content-6.v-center.row:before,
  .content-6 .v-center.row:before,
  .content-6.v-center.row:after,
  .content-6 .v-center.row:after {
    display: none;
  }
  .content-6.v-center.row > *,
  .content-6 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
@media (max-width: 480px) {
  .content-6 {
    //padding-bottom: 210px;
  }
}
.content-6 .features > * {
  margin-top: 40px;
}
.content-6 .features h6 {
  font-size: 22px;
  font-weight: normal;
  color: #34495e;
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 500;
  margin-bottom: 14px;
  text-transform: none;
}
.content-34 {
  position: relative;
  overflow: hidden;
  background: #f3f3f3;
}
@media (max-width: 767px) {
  .content-34 {
    max-height: 100%;
  }
  .content-34 .pt-controls {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.content-34 .pt-perspective {
  position: relative;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.content-34 .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@media (max-width: 1200px) {
  .content-34 .pt-page .container {
    margin-left: 60px;
  }
}
.content-34 .pt-page-current,
.content-34 .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.content-34 .pt-page-ontop {
  z-index: 999;
}
.content-34 .pt-controls {
  position: absolute;
  top: 50%;
  left: 30px;
  z-index: 9999;
}
.content-34 .pt-controls .pt-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.content-34 .pt-controls .pt-indicators li {
  float: none;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin: 15px 0 0;
  padding: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  border: 2px solid #d3d3d3;
  border: 2px solid rgba(81, 81, 81, 0.2);
  background: transparent;
}
.content-34 .pt-controls .pt-indicators li.active {
  border: 0;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.loaded .content-34 .pt-controls .pt-indicators {
  -webkit-transition: 1.2s 1.6s opacity;
  -moz-transition: 1.2s 1.6s opacity;
  -o-transition: 1.2s 1.6s opacity;
  transition: 1.2s 1.6s opacity;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 767px) {
  .content-34 .pt-controls {
    top: auto;
    bottom: 30px;
    left: 0;
    right: 0;
    margin-top: 0 !important;
  }
  .content-34 .pt-controls .pt-indicators {
    text-align: center;
  }
  .content-34 .pt-controls .pt-indicators li {
    display: inline-block;
    margin: 0 7.5px;
  }
}
.content-34 .pt-controls li.active {
  background: #2c3e50;
}
.content-34 .container {
  background: #f3f3f3;
  padding-top: 125px;
  padding-bottom: 80px;
  color: #7f8c8d;
}
.content-34 h2 {
  margin: 0 0 20px;
  font-size: 35px;
  line-height: 40px;
  color: #2c3e50;
  font-weight: 300;
}
.content-34 .lead {
  font-size: 20px;
  line-height: 36px;
  margin: 0 0 50px;
}
.content-34 .box-1,
.content-34 .box-2 {
  margin-bottom: 50px;
}
.content-34 .box-1 h3,
.content-34 .box-2 h3 {
  font-size: 20px;
  line-height: 28px;
  color: #34495e;
  font-weight: 500;
  margin: 0 0 15px;
}
.content-34 .box-1 p,
.content-34 .box-2 p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}
.content-34 .box-1 {
  padding-top: 105px;
  background: url('../../startup/common-files/img/content/icon-1.png') 15px 0 no-repeat;
}
.content-34 .box-2 {
  padding-top: 85px;
  background: url('../../startup/common-files/img/content/icon-2.png') 15px 0 no-repeat;
}
/**
 * Footer 7 stylesheet
 * */
.footer-7 {
 padding-top: 28px;
    padding-bottom: 29px;
    color: #bdc3c7;
    line-height: 25px;
    text-align: center;
    position: relative;
    background: #3e4040;
}
.footer-7.v-center,
.footer-7 .v-center {
  display: table;
  width: 100%;
}
.footer-7.v-center > div,
.footer-7 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .footer-7.v-center.row:before,
  .footer-7 .v-center.row:before,
  .footer-7.v-center.row:after,
  .footer-7 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer-7.v-center,
  .footer-7 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer-7.v-center.row,
  .footer-7 .v-center.row {
    display: block;
    width: auto;
  }
  .footer-7.v-center.row:before,
  .footer-7 .v-center.row:before,
  .footer-7.v-center.row:after,
  .footer-7 .v-center.row:after {
    display: none;
  }
  .footer-7.v-center.row > *,
  .footer-7 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}

.footer-7 a {
   color: #25ddc4!important;
  font-weight: 500;
}
.footer-7 a:hover,
.footer-7 a:focus,
.footer-7 a.active {
  color: #a1a6a9;
}
.footer-7 nav {
  font-family: 'Roboto Slab', serif;
}
.footer-7 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-7 nav ul li {
  display: inline-block;
  min-width: 100px;
  line-height: 25px;
  font-size: 14px;
  font-weight: normal;
  color: inherit;
  font-weight: 500;
}
@media (max-width: 767px) {
  .footer-7 nav ul li {
    min-width: 70px;
    font-size: 12px;
    font-weight: normal;
    color: inherit;
    font-weight: 500;
  }
}
.footer-7 nav ul li .scroll-top {
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
  color: white;
  background: #bdc3c7;
}
.footer-7 nav ul li .scroll-top:hover,
.footer-7 nav ul li .scroll-top:focus,
.footer-7 nav ul li .scroll-top.active {
  color: white;
}
.footer-7 nav ul li .scroll-top:hover,
.footer-7 nav ul li .scroll-top:focus {
  background: #a1a6a9;
}
.footer-7 nav ul li .scroll-top:active,
.footer-7 nav ul li .scroll-top.active {
  background: #84898b;
}
.footer-7 > .container {
  position: relative;
}
.footer-7 .container > a {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
}
.footer-7 .container > a [class*="fui-"] {
  font-size: 22px;
}
.footer-7 .social-btns {
  white-space: nowrap;
  position: absolute;
  top: 15px;
  right: 15px;
}
.footer-7 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
  width: 16px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}
.footer-7 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-7 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-7 .social-btns > * > *:first-child {
   color: #25ddc4!important;
}
.footer-7 .social-btns > *:hover > * {
  top: -100%;
}
@media (max-width: 600px) {
  .footer-7 .container > a,
  .footer-7 .scroll-btn {
    display: none;
  }
  .footer-7 nav ul.espUl li {
    float: none;
    margin: 18px 0 0;
    display: block;
    text-align: left;
  }
  .footer-7 nav ul li:first-child {
    margin-top: 0;
  }
  .footer-7 .social-btns {
    position: static;
    text-align: left;
    margin-top: 20px;
    margin-bottom: -5px;
  }
}
