/*------------- general ----------------*/
body{
  font-family: 'Open Sans', sans-serif;
}
.header {
    background: @black;
    @media (min-width: 992px) {
      min-height: 90px;
    }
}

.secondMenu {
    font-size: @doce;
    padding: 10px;
    @media (min-width: 992px) {
      position: absolute;
      top: 0px;
      right: 0px;
    }
    .woks;
    ul{
      li {
          padding: 0px 12px;
      }
    }
    .idioma {
      position: relative;
      &::after{
        content: ' ';
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        left: 0px;
        border-right: 1px solid @an;
        -ms-transform: rotate(20deg); /* IE 9 */
        -webkit-transform: rotate(20deg); /* Safari 3-8 */
        transform: rotate(20deg);
      }
      a{
        color: @white;
      }
    }
}
#navbarText {
  @media (min-width: 992px) {
    position: absolute;
    right: 0px;
    top: 35px;
  }

    ul{
      li {
        padding: 5px 25px;
        position: relative;
        a{
          font-size: @veinte;
          color: @white;
          .tituloI
        }
        &::after{
          content: ' ';
          display: block;
          position: absolute;
          width: 1px;
          height: 74%;
          top: 13%;
          right: 0px;
          border-right: 1px solid @an;
          -ms-transform: rotate(20deg); /* IE 9 */
          -webkit-transform: rotate(20deg); /* Safari 3-8 */
          transform: rotate(20deg);
        }
        &:last-child{
          &::after{
            display: none;
          }
        }
      }
    }
}
button.navbar-toggler {
  span {
      width: 40px;
      height: 3px;
      display: block;
      background: white;
      margin: 6px 0px 0px;
  }
}
#supfooter {
    background: @very-dark-gray;
    padding: 40px 0;
    h6{
      color: @white;
      font-size: 1em;
      .tituloI;
    }
    ul{
      list-style: none;
      line-height: 2.14;
      .woks;
      margin: 15px 0 0px;
      li{
        a{
          font-size: @catorce;
          font-weight: @bold;
          letter-spacing: .5px;
          &.active{
            color: @an;
          }
        }
      }
    }
    .separador {
        width: 1px;
        height: 100%;
        background: @dove-gray;
        position: absolute;
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: rotate(20deg)translateX(-50%);
        left: 50%;
    }
}
#subfooter{
  background: @black;
  padding: 30px 0px;
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
    li{
      display: inline;
      padding: 5px 10px;
      a{
        font-size: @doce;
      }
    }
  }
  .legal{
    font-size: @once;
    padding: 0 10px;
  }
}
